*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #10101A;
}

:root {
    --bg--color: #fff;
    --bgg--color: #000;
}


.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 150px;
}

#header {
    display: none;
}

.header__maenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: var(--bg--color);
}

.btn {
    border: none;
    background-color: #30BF71;
    color: #fff;
    /* margin-left: 1000px; */
}


.bx-menu {
    font-size: 30px;
}

/* MODAL  */



.abubakr {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
}


.modal__menu {
    position: fixed;
}

.modal__menu {
    width: 260px;
    height: 100vh;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 11;
}

.modal__inner {
    color: #fff;
}

.modal__color {
    width: 260px;
    height: 200px;
    background-color: #30BF71;
    border-radius: 0% 0% 50% 50%;
}

.me__foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #FEC530;
    margin-top: -100px;
    margin-left: 70px;
}

.md__list {
    list-style: none;
    margin-top: 100px;
    margin-left: 30px;
}

.bx-user,
.bx-home,
.bxs-contact,
.bxs-book-bookmark {
    margin-right: 10px;
    font-size: 25px;
}

.md__item {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.md__links {
    text-decoration: none;
    color: #fff;
}

.md__links:active {
    color: #30BF71;
}

hr {
    margin-left: -30px;
    margin-bottom: 20px;
    opacity: 0.1;
}

.md__icons {
    list-style: none;
    display: flex;
    position: absolute;
    left: 50px;
    bottom: 10px;
}

.md__itemm {
    margin-right: 20px;
    font-size: 20px;
}

.icons__link {
    text-decoration: none;
    color: #fff;
    transition: all 0.4s ease;
}

.icons__link:hover {
    color: #30BF71;
}

.show {
    display: block;
}

.show__none {
    display: none;
}


/* MODAL  */


/* HERO */



.hero__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    color: var(--bg--color);
    width: 1140px;
}

.hello {
    width: 505px;
    font-size: 25px;
    margin-bottom: 20px;
}

.abu {
    width: 505px;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.web {
    width: 505px;
    font-size: 18px;
    margin-bottom: 25px;
}

.web span{
    color: chartreuse;
}

.design {
    width: 500px;
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 32px;
}



.hero__img {
    background-color: #30BF71;
    border-radius: 100%;
    max-width: 120%;
    height: 606px;
    z-index: -2;
}

.hero__link {
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 25px;
    background-color: #30BF71;
    box-shadow: 4px 4px #fff;
    transition: all 0.4s ease;
}

.hero__link:hover {
    color: #30BF71;
    background-color: #fff;
    box-shadow: 4px 4px #30BF71;
}


/* HERO  */



/* ABOUT ME  */


.aboutme__menu {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    color: var(--bg--color);
}

.img1{
    width: 215px;
    height: 215px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.img2{
    margin-right: 10px;
}

.img3{
    margin-top: 50px;
}




.tt {
    margin-top: 70px;
    margin-left: 100px;
}

.aboutt {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 40px;
}

.freelance {
    width: 434px;
    font-size: 28px;
    margin-bottom: 25px;
}

.develop {
    width: 434px;
    font-size: 16px;
    margin-bottom: 20px;
}

.spans {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    margin-right: 30px;
}

.spann {
    font-size: 50px;
}

.projects {
    width: 87px;
    margin-left: 10px;
}


.contactme {
    width: 300px;
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #30BF71;
    box-shadow: 4px 4px #fff;
    transition: all 0.4s ease;
}

.contactme:hover {
    background-color: #fff;
    color: #30BF71;
    box-shadow: 4px 4px #30BF71;
}

.menuu {
    display: flex;
    align-items: center;
}

.box{
    display: grid;
    grid-template-columns: 230px 230px;
}

.about__boxx{
    width: 230px;
    height: 36px;
    border: 1px solid #fff;
}

.aboutt{
    display: flex;
}

/* ABOUT ME  */


/* PORTOFLIO  */



.portfolioo__main {
    width: 1140px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 333px 333px 333px;
    padding: 10px 20px;
}

.boxss {
    width: 333px;
    height: 333px;
}

.imgg {
    width: 331px;
    padding: 10px 10px;
}

.boxss:nth-child(1) {
    width: 333px;
    height: 455px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.boxss:nth-child(3) {
    width: 333px;
    height: 580px;
}

.boxss:nth-child(4) {
    width: 333px;
    height: 333px;
    margin-top: -130px;
    grid-column-start: 1;
    grid-column-end: 1;
}

.boxss:nth-child(5) {
    width: 333px;
    height: 580px;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: -250px;
}

.boxss:nth-child(6) {
    width: 333px;
    height: 455px;
    margin-top: -20px;
}

.boxss:nth-child(7) {
    width: 333px;
    height: 380px;
    margin-top: -230px;
}

.boxss:nth-child(8) {
    width: 333px;
    height: 330px;
    margin-top: -115px;
}

.boxss:nth-child(9) {
    width: 333px;
    height: 330px;
    margin-top: 4px;
}

/* PORTFOLIO  */


/* MAKETS */

.makets__box {
    width: 1140px;
    display: flex;
    margin-top: 100px;
    /* margin-left: 230px; */
}

.maket {
    margin-right: 40px;
    margin-bottom: 50px;
}

.maket__link {
    text-decoration: none;
}


.maket1 {
    width: 505px;
    height: 336px;
    color: #000;
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
    font-family: 'Festive', cursive;
    border-radius: 10px;
    background-color: #30BF71;
}

.maket__box {
    width: 455px;
    height: 175px;
    background-color: #000;
    margin: -80px 0 0 50px;
    border-radius: 10px;
    color: var(--bg--color);
    font-family: 'Rubik', sans-serif;
    padding: 25px;
}

.data {
    margin-bottom: 10px;
}

.five {
    width: 356px;
    font-size: 24px;
}

.more{
    margin-bottom: 100px;
}

.more{
    text-align: center;
}

.more__link{
    color: #fff;
    margin-left: 230px;
    font-size: 14px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #30BF71;
    box-shadow: 4px 4px #fff;
    transition: all 0.4s ease;
}

.more__link:hover{
    color: #30BF71;
    background-color: #fff;
    box-shadow: 4px 4px #30BF71;
}

.iframe{
    width: 1070px;
    height: 330px;
    /* margin-left: 200px; */
}


/* MAKETS */


/* INPUT  */

.inputs__menu{
    display: flex;
}

.inputs__main{
    color: var(--bg--color);
    margin-bottom: 100px;
}

.input__box{
    width: 327px;
    height: 411px;
    background-color: #000;
    padding: 30px 30px;
}

.what{
    width: 267px;
    font-size: 28px;
    margin-bottom: 20px;
}

.always{
    width: 267px;
    font-size: 16px;
    margin-bottom: 16px;
}

.get{
    margin-bottom: 50px;
}

.street{
    width: 237px;
    font-size: 18px;
    margin-bottom: 40px;
    transition: all 0.4s ease;
}

.street:hover{
    color: #30BF71;
}

.gm{
    margin-bottom: 40px;
}

.gmail:hover{
    color: #30BF71;
}


.gmail{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.4s ease;
}

.tel{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.4s ease;
}

.tel:hover{
    color: #30BF71;
}

.bxs-phone,
.bxs-message,
.bx-location-plus{
    margin-right: 10px;
}

.input__bx{
    width: 684px;
    height: 415px;
    margin-top: 70px;
    margin-left: 50px;
    padding: 20px 30px;
    background-color: #000;
}


#name{
    width: 297px;
    padding: 6px 12px;
    background-color: #10101A;
    border: 1px solid #58585F;
    color: #787883;
    margin-right: 10px;
}

#email{
    width: 297px;
    padding: 6px 12px;
    background-color: #10101A;
    border: 1px solid #58585F;
    color: #787883;
    margin-bottom: 20px;
}

#subject{
    width: 610px;
    padding: 6px 12px;
    background-color: #10101A;
    border: 1px solid #58585F;
    color: #787883;
    margin-bottom: 20px;
}

#sms{
    width: 610px;
    padding-top: 6px;
    padding-bottom: 118px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #10101A;
    border: 1px solid #58585F;
    color: #787883;
    margin-bottom: 30px;
}

.link__inputt{
    padding: 10px 20px;
    background-color: #30BF71;
    text-decoration: none;
    color: #fff;
    box-shadow: 4px 4px #fff;
    transition: all 0.4s ease;
}

.link__inputt:hover{
    color: #30BF71;
    background-color: #fff;
    box-shadow: 4px 4px #30BF71;
}

.say{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}



/* INPUT  */


@media screen and (max-width: 1200px) {
    .modal__menu{
        display: none;
    }

    .container{
        width: 960px;
        margin: 0 auto;
        padding: 0; 
    }

    .hero__menu{
        width: 960px;
    }

    .aboutme__menu,
    .makets__bx,
    .inputs__menu,
    .iframe{
        width: 100%;
    }

    .portfolioo__main{
        width: 100%;
        /* margin-left: -50px; */
    }

    .makets__box{
        width: 100%;
    }

    .maket{
        margin-right: 0;
    }

    #header{
        display: block;
    }

    .img2{
        margin-right: 10px;
    }
}

@media screen and (max-width: 992px) {
    .container{
        width: 720px;
    }

    .hero__menu{
        width: 100%;
        flex-direction: column;
    }

    .hero__inner{
        margin-bottom: 50px;
    }

    .aboutme__menu{
        width: 100%;
        flex-direction: column;
    }

    .portfolioo__main{
        width: 100%;
        margin-left: -125px;
    }

    .makets__box{
        width: 100%;
        margin-left: -130px;
    }

    .inputs__menu{
        width: 100%;
        flex-direction: column;
    }

    .inputs__main{
        width: 690px;
    }
}

@media screen and (max-width: 770px) {
    .container{
        width: 720px;
    }

    .hero__menu{
        width: 100%;
        flex-direction: column;
    }

    .hero__inner{
        margin-bottom: 50px;
    }

    .aboutme__menu{
        width: 100%;
        flex-direction: column;
    }

    .aboutt{
        margin-left: 100px;
    }

    #portfolioo{
        display: none;
    }

    .portfolioo__main{
        width: 720px;
        margin-left: -125px;
    }


    .makets__box{
        width: 720px;
        margin-left: -130px;
    }

    .inputs__menu{
        width: 100%;
        flex-direction: column;
    }

    .inputs__main{
        width: 690px;
    }

    .maket{
        width: 355px;
        height: 220px;
    }
}

@media screen and (max-width: 575px) {
    .container{
        width: 575px;
    }

    .hero__menu{
        width: 545px;
        flex-direction: column;
    }

    .hero__inner{
        width: 500px;
    }

    .hero__foto{
        width: 500px;
    }

    .hero__inner{
        margin-bottom: 50px;
    }

    .aboutme__menu{
        width: 100%;
        flex-direction: column;
    }

    .aboutt{
        margin-left: 100px;
    }

    #portfolioo{
        display: none;
    }

    .portfolioo__main{
        width: 720px;
        margin-left: -125px;
    }

    .makets__box{
        width: 545px;
        flex-direction: column;
        /* margin-left: 20px; */
    }

    .inputs__menu{
        width: 100%;
        flex-direction: column;
    }

    .input__bx{
        width: 545px;
        flex-direction: column;
        margin-left: 0;
    }

    #name,
    #email,
    #subject,
    #sms{
        width: 545px;
    }

    .iframe{
        width: 545px;
    }

    .more__link{
        display: none;
    }
}